[submodule "external/moss-format"]
	path = external/moss-format
	url = https://gitlab.com/serpent-os/core/moss-format.git
[submodule "external/moss-core"]
	path = external/moss-core
	url = https://gitlab.com/serpent-os/core/moss-core.git
[submodule "external/moss-db"]
	path = external/moss-db
	url = https://gitlab.com/serpent-os/core/moss-db.git
[submodule "external/serpent-ecs"]
	path = external/serpent-ecs
	url = https://gitlab.com/serpent-engine/serpent-ecs.git
