[submodule "external/moss-format"]
	path = external/moss-format
	url = https://gitlab.com/serpent-os/core/moss-format.git
[submodule "external/moss-core"]
	path = external/moss-core
	url = https://gitlab.com/serpent-os/core/moss-core.git
[submodule "external/moss-db"]
	path = external/moss-db
	url = https://gitlab.com/serpent-os/core/moss-db.git
[submodule "external/moss-deps"]
	path = external/moss-deps
	url = https://gitlab.com/serpent-os/core/moss-deps.git
[submodule "external/moss-fetcher"]
	path = external/moss-fetcher
	url = https://gitlab.com/serpent-os/core/moss-fetcher.git
[submodule "external/moss-config"]
	path = external/moss-config
	url = https://gitlab.com/serpent-os/core/moss-config.git
